#contact {
  display: flex;
  justify-content: center; /* horizontal centering */
  padding-top: 5px;       /* a bit closer to the top */
  text-align: center;      /* center text inside */

  .contact_wrapper {
    max-width: 600px;      /* optional: limit width */
  }

  h1 {
    text-transform: uppercase; /* make "CONTACT ME" all caps */
    font-size: 2.5rem;         /* bigger, prominent */
    margin-bottom: 15px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 30px;       /* space between caption and buttons */
  }

  .contact-links {
    justify-content: center;    /* center the buttons */
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}